body {
    background-color: beige;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Todo-Item .trash-icon {
    display: none;
}
.Todo-Item:hover .trash-icon {
    display: inline-block;
}

.trash-icon svg {
    width: 1rem; /* Adjust the size as needed */
    height: 1rem;
}



.flex-container {
    display: flex;
}
